@charset "utf-8";

/*imported fonts from Google Fonts.*/
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap'); /*font-family: 'Raleway', sans-serif;*/ /*Use for Dublin Castle*/


/*Background and headers*/


body {
	background: rgba(8,73,24,0.38);
 	background-image: linear-gradient(rgba(255,255,255,1.00),rgba(41,163,69,1.00));
	background-size: cover;
	max-width: 100%;
	margin: 0 auto;
	background-repeat: no-repeat;

}

.bg {
	background-image: url("../images/dbc.jpg");
}

iframe {
	align-content: center;
	margin: 1% 10% 1% 10%;
}

img {
	width: 100%;
}

aside {
	width: 40%;
	float: left;

}

.copy {
	width: 45%;
    float: left;
	background: rgba(14,196,0,0.45);
	border-right: thick solid rgba(255,158,0,1.00);
    border-left: thick solid rgba(255,255,255,1.00);
	padding: 1% 5%;
	margin: 2% 2%;
}

section {
	width: 40%;
	padding: 1% 5%;
	margin: 2% 5%;
  float: right;
	background: rgba(14,196,0,0.45);
	border-right: thick solid rgba(255,158,0,1.00);
    border-left: thick solid rgba(255,255,255,1.00);
}

.st{
	width: 29%;
	padding: 1% 2%;
	margin: 2% 2%;
    float: left;
	background: rgba(14,196,0,0.45);
	border-right: thick solid rgba(255,158,0,1.00);
    border-left: thick solid rgba(255,255,255,1.00);
}

.nd {
	width: 29%;
	padding: 1% 2%;
	margin: 2% 2%;
    float: left;
	background: rgba(14,196,0,0.45);
	border-right: thick solid rgba(255,158,0,1.00);
    border-left: thick solid rgba(255,255,255,1.00);
}

.rd{
	width: 29%;
	padding: 1% 2%;
	margin: 2% 2%;
    float: left;
	background: rgba(14,196,0,0.45);
	border-right: thick solid rgba(255,158,0,1.00);
    border-left: thick solid rgba(255,255,255,1.00);
}

.icons {

	width: 12%;
	display: inline-block;
}

.homer{

	display: flex;
	width: 100%;
	height: auto;
}

.col2 {
	width: 45%;
	margin: 1%;
}

.formm {
	width: 100%;
	padding: 2% 10% 5% 10%;

}


/*------------------*/

header {
	background-color: rgba(0,107,0,0.86);

}

footer {

	background-color: rgba(255,158,0,1.00);
	position:relative ;
	width: 100%;
	color: #fff;
	text-align: center;
    clear: both;
    bottom: 0%;
}

.white {
	color: #fff;
}

h1 {
	font-size: 10em;
	color: #fff;
	text-shadow: 1px 2px rgba(0,0,0,0.25);


}

.h1center {
	text-align: center;
	margin: 1% 10%;
}

.h1middle {
	margin: 1% 1%;
}

h2 {
	font-size: 10em;
	color: #fff;
	text-shadow: 1px 2px rgba(0,0,0,0.25);

}

.header {
	font-family: 'Raleway', sans-serif;
	font-weight: 900;
	font-size: 3em;
}

@media (max-width: 992px) {
	.col2{
		float: none;
		clear: both;
		width: 100%;
	}
	.icons {
		width: 20%;
	}

	aside {
    width: 95%;
    float: none;
	clear: both
	}

	.copy {
		width: 95%;
    float: none;
	clear: both
	}

	section {
		width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    float: none;
		clear: both;
	}

	.st {
		width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    padding-left: 2.5%;
    padding-right: 2.5%;
		float: none;
		clear: both;
	}

	.nd {
		width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    padding-left: 2.5%;
    padding-right: 2.5%;
		float: none;
		clear: both;
	}

	.rd {
		width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    padding-left: 2.5%;
    padding-right: 2.5%;
		float: none;
		clear: both;
	}


	}
